# Environments
.env
.venv

# Unit test / coverage reports
.coverage
.pytest_cache/

# data
__pycache__/
.ruff_cache/
data
test-data/
.DS_Store
output/

# test output
tests/output/

# development
.vscode/launch.json
.vscode/settings.json

# mlflow
mlruns/
mlflow.db
