# Environments
.env
.venv

# Unit test / coverage reports
.coverage
.pytest_cache/

# data
__pycache__/
.ruff_cache/
data
test-data/
.DS_Store

# test output
tests/output/

# development
launch.json

# mlflow
mlruns/
mlflow.db
